<div class="form-init">
  <h1 class="form-init__title">{{ localize "sheet.actorCreation" }}</h1>

  <div class="form-init__slide--wrapper save-scroll-state">
    <div class="form-init__slide" data-slide-index="1">
      {{> (template "actor/form.init.slide.concept.html") }}
    </div>

    <div class="form-init__slide" data-slide-index="2">
      {{> (template "actor/form.init.slide.info.html") }}
    </div>

    <div class="form-init__slide" data-slide-index="3">
      {{> (template "actor/form.init.slide.stats.html") }}
    </div>
  </div>

  <div class="form-init__button-group">
    <button type="submit" class="form-init__button-next">
      {{ localize "sheet.next" }}
    </button>
  </div>
</div>
