<div class="form-init">
  <h2>{{ localize "sheet.actorCreation" }}</h2>

  <div class="form-init__group name">
    <label for="actor.name">{{localize "sheet.actor.name"}}:</label>
    <input
      name="actor.name"
      type="text"
      value="{{actor.name}}"
      placeholder='{{localize "sheet.actor.name"}}'
    />
  </div>

  <div class="form-init__group age">
    <label for="system.age">{{localize "sheet.actor.info.age"}}:</label>
    <input type="text" name="system.age" value="" data-dtype="Number" />
  </div>

  <div class="form-init__group gender">
    <label for="system.gender">{{localize "sheet.actor.info.gender"}}:</label>
    <input type="text" name="system.gender" value="" />
  </div>

  <div class="form-init__group concept">
    <div>{{localize "sheet.actor.info.concept"}}</div>
    {{#each CONFIG.ZAIBATSU.CONCEPTS}}
    <div>
      <div>{{localizeConcept this key="name"}}</div>
      <div>{{{localizeConcept this key="description"}}}</div>
    </div>
    {{/each}}
  </div>

  <button type="submit" class="init-submit">Сохранить</button>
</div>
