<div class="form-init__wrapper stats">
  <h3>{{ localize "sheet.actor.statsGeneration.title" }}</h3>

  <div class="roll-section">
    {{#if characteristicRolls.showRollButton}}
    <button type="button" class="roll-section__roll-attributes">
      {{ localize "sheet.actor.statsGeneration.buttonRoll" }}
    </button>
    {{else}}
    <div>{{ characteristicRolls.diceResults }}</div>
    <div class="roll-section__dice-groups">
      {{#each characteristicRolls.characteristiscs as |char|}}
      <div class="roll-section__dice-groups--wrapper">
        <div class="dice-group__item">
          <label>
            {{ localizeCharacteristic char.key "full"}} - {{ char.value }}
          </label>
          <select
            name="characteristicRolls.{{char.key}}"
            data-key="{{char.key}}"
            value="0"
          >
            <option value="">---</option>
            {{#each ../characteristicRolls.availableValues as |value|}}
            <option value="{{value}}">{{ value }}</option>
            {{/each}}
          </select>
        </div>

        <div>{{ localizeCharacteristic char.key "desc"}}</div>
      </div>
      {{/each}}
    </div>
    {{/if}}
  </div>
</div>
