<div class="actor__info--group">
  <span class="actor__info-age">
    {{localize "sheet.actor.info.age"}}: {{system.age}}
  </span>

  <span class="actor__info-gender">
    {{localize "sheet.actor.info.gender"}}: {{system.gender}}
  </span>
</div>

<div class="actor__info--group">
  <span
    class="actor__info-concept"
    data-tooltip='{{ localizeConcept system.concept key="description" }}'
  >
    <!-- prettier-ignore -->
    {{localize "sheet.actor.info.concept"}}: {{ localizeConcept system.concept key="name" }}
  </span>
</div>

<div class="actor__info--group">
  <span class="actor__info-boss">
    {{localize "sheet.actor.info.employer"}}: {{system.employer.name}}
  </span>
</div>

<div class="actor__info--group">
  <span class="actor__info-boss">
    {{localize "sheet.actor.info.rank"}}: {{system.employer.rank}}
  </span>

  <span class="actor__info-boss">
    {{localize "sheet.actor.info.experience"}}: {{system.employer.experience}}
  </span>
</div>

<div class="actor__info--group">
  <span class="actor__info-armor">
    {{localize "sheet.actor.info.armor"}}: {{system.armor.value}}
  </span>

  <span class="actor__info-weight">
    {{localize "sheet.actor.info.weight"}}:
    {{actor.derived.inventory.load}}/{{actor.derived.inventory.limit}}
  </span>
</div>
