@use "colors";

aside#tooltip.actor__info-concept--tooltip {
  text-align: left;
}

.zaibatsu.sheet.actor {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;

  input {
    box-shadow: none;
    background: none;
  }

  .window-resizable-handle {
    z-index: 2;
  }

  .window-header {
    z-index: 100;
    margin-top: 8px;

    .window-title {
      margin-left: 3%;
    }

    .header-button.control.close {
      margin-right: 5%;
    }

    .header-button.control.configure-token {
      margin-right: 6%;
    }
  }

  section {
    padding: 0;
    margin: 0;
    overflow: hidden;
    box-sizing: border-box;
  }

  header {
    padding-left: 3%;
    line-height: 1ch;
    flex-basis: 3%;
    align-items: center;
    border: none;
    color: colors.$app-color;
    z-index: 99;
    background-color: colors.$background-transparent;
  }

  section,
  form {
    height: 100%;
    width: 100%;
  }

  .actor-sheet__aside-photo {
    padding: 1px 8px 0px 24px;
  }

  .actor-sheet__aside-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .actor-sheet__aside-info {
    padding-left: 40px;
    padding-right: 30px;
  }

  .actor__info--group {
    display: flex;

    span {
      display: flex;
      align-items: center;
    }
  }

  .actor__characteristics-stat input {
    height: 100%;
    padding: 0;
    border: 0;
    margin: 0;
  }

  .info-container {
    border: 2px solid;
    padding: 1rem;
  }

  .info-container__body,
  .info-container__item {
    display: grid;
    gap: 1rem;
  }

  .info-container__item > *:not(:first-child) {
    text-align: center;
  }

  .characteristics.info-container .info-container__item {
    grid-template-columns: auto 15% 15% 15%;

    input {
      text-align: center;
    }
  }

  .skills.info-container .info-container__item {
    grid-template-columns: auto 15% 15%;
  }

  .weapon.info-container .info-container__item {
    grid-template-columns: auto 15% 15% 15%;
  }

  .armor.info-container .info-container__item {
    grid-template-columns: auto 15% 15%;
  }

  .info-container__title {
    border: 0;
    padding: 1rem;
    text-align: center;
    text-transform: uppercase;
    background-color: rgba(41, 170, 225, 0.1);
  }

  .actor-sheet__main-body {
    height: 100%;
    overflow: auto;
    padding: 20px 25px 20px 20px;
  }

  .actor-sheet__main-body {
    &.info,
    &.inventory {
      .actor-sheet__main-body--content {
        display: grid;
        gap: 1rem;
      }
    }
  }

  .actor-sheet__main-navigation {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .sheet__navigation-tab:not(:last-child) {
    margin-right: 10px;
    border-right: 2.5px solid colors.$default-color;
    padding-right: 10px;
  }

  .sheet__navigation-tab.active {
    color: colors.$light-color;
  }

  .actor-sheet__aside-info {
    display: flex;
    flex-flow: column;
    justify-content: center;
  }

  .actor-sheet__aside-photo,
  .actor-sheet__aside-name,
  .actor-sheet__aside-info,
  .actor-sheet__main-navigation,
  .actor-sheet__main-body,
  .actor-sheet__navigation-body {
    z-index: 1;
  }

  .actor-sheet__aside-photo {
    grid-area: actor-photo;
  }

  .actor-sheet__aside-name {
    grid-area: actor-name;
  }

  .actor-sheet__aside-info {
    grid-area: actor-info;
  }

  .actor-sheet__main-navigation {
    grid-area: sheet-navigation;
  }

  .actor-sheet__navigation-body {
    grid-area: sheet-body;
  }

  .actor-sheet-form {
    display: grid;
    grid-template-columns: 37% 63%;
    grid-template-areas:
      ".            ."
      "actor-name   sheet-navigation"
      "actor-photo  sheet-body"
      "actor-info   sheet-body"
      ".            sheet-body";
    justify-content: space-between;
    grid-template-rows: 1% 3.4% 68% 20.7% 3%;
    width: 100%;
    width: -moz-available;
    width: -webkit-fill-available;
  }

  .actor-overlay {
    position: absolute;
    pointer-events: none;
    width: 37%;
    object-fit: cover;
    height: 96%;
    overflow: hidden;
    top: 4%;
    left: 0.7%;
    aspect-ratio: auto;
  }

  .actor-interface-bg {
    top: 0;
    left: 0;
    position: absolute;
    z-index: 0;
    object-fit: fill;
    width: 100%;
    overflow: hidden;
    height: 100%;
    aspect-ratio: auto;
  }

  .actor-sheet__aside-name {
    text-align: center;
    width: 80%;
    margin: auto;
    display: block;
  }

  .actor__info-concept select {
    width: 100%;
  }

  .inventory-tab__item-title {
    border: none;
  }

  .inventory-tab__item-header,
  .inventory-tab__item-row {
    display: grid;

    &.weapon {
      grid-template-columns: 3fr 1fr 1fr;
    }

    &.armor {
      grid-template-columns: 4fr 1fr;
    }
  }
}
