@use "colors";

.zaibatsu.sheet.item {
  div[contenteditable],
  input,
  select {
    border: 1px solid;
    background: colors.$background-nearly-transparent;
    width: 100%;
    padding: 5px;
    height: auto;
  }

  .item-sheet-form {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "name name price"
      "image description description";
  }

  .item-sheet__name {
    grid-area: name;
  }

  .item-sheet__price {
    grid-area: price;
  }

  .item-sheet__image {
    grid-area: image;
  }

  .item-sheet__description {
    grid-area: description;
  }

  .item-sheet__info-img {
    object-fit: contain;
  }
}
