<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<svg
  class="actor-overlay"
  width="295"
  height="605"
  viewBox="0 0 295 605"
  preserveAspectRatio="none"
  version="1.1"
  id="svg1"
  xmlns="http://www.w3.org/2000/svg"
  xmlns:svg="http://www.w3.org/2000/svg"
>
  <defs id="defs1" />
  <path
    id="path138"
    d="M 290,7 V 32 L 260,2 h 25 z"
    fill="none"
    stroke="none"
    style="stroke-width: 2; stroke-dasharray: none"
  />
  <path
    id="path140"
    fill="none"
    stroke="#26a9e0"
    stroke-miterlimit="10"
    stroke-width="2"
    d="M 284.55131,50.405591 H 291.125"
    style="stroke-width: 2; stroke-dasharray: none"
  />
  <path
    id="path142"
    fill="none"
    stroke="none"
    d="M 10,2 H 40 L 10,32 Z"
    style="stroke-width: 2; stroke-dasharray: none"
  />
  <path
    id="path144"
    stroke="#26a9e0"
    fill="none"
    stroke-miterlimit="10"
    stroke-width="2"
    d="M 265.12658,6.7596976 283.07413,26.286762 16.14507,26.684131 34.884423,6.7596976 Z"
    style="stroke-width: 2.07207; stroke-dasharray: none"
  />
  <linearGradient
    id="a"
    x1="302.67499"
    x2="590.08502"
    y1="-14.876"
    y2="-14.876"
    gradientTransform="matrix(1,0,0,-1,-297.153,283.046)"
    gradientUnits="userSpaceOnUse"
  >
    <stop id="stop146" offset="0" />
    <stop id="stop148" offset=".54" stop-opacity=".8" />
    <stop id="stop150" offset="1" />
  </linearGradient>
  <path
    id="path155"
    stroke="#26a9e0"
    fill="none"
    stroke-miterlimit="10"
    stroke-width="2.189"
    d="m 284.227,438.20895 h -270 z m -5,125.81717 -15,17.97388 h -230 l -15,-17.97388 V 438.20895 h 260 z m 0,-125.81717 h 5 v 83.8781 h -5 z m -265,0 h 5 v 83.8781 h -5 z"
    style="fill: none; stroke-width: 2; stroke-dasharray: none"
  />
  <path
    id="path157"
    stroke="#26a9e0"
    fill="none"
    stroke-miterlimit="10"
    stroke-width="2"
    d="m 9.2844471,286.57085 v -55.27274 l 5.1365119,-10.4574 -0.05449,61.07282 z"
    style="stroke-width: 2; stroke-dasharray: none"
  />
  <path
    id="path159"
    fill="none"
    d="m 16.369749,307 -5.781177,-10 5.781177,-10 z m 267.318821,0 5.78017,-10 -5.78017,-10 z"
    style="stroke-width: 2; stroke-dasharray: none"
  />
  <path
    id="path161"
    stroke="#26a9e0"
    fill="none"
    stroke-miterlimit="10"
    d="m 267.0179,563.7348 -9.7669,12.32288 M 271.90136,563.7348 257.251,582.2191 M 32.61232,563.7348 42.379219,576.05768 M 27.728872,563.7348 42.379219,582.2191"
    style="stroke-width: 2; stroke-dasharray: none"
  />
  <path
    id="path163"
    stroke="#26a9e0"
    fill="none"
    stroke-miterlimit="10"
    stroke-width="2"
    d="M 284.54713,55.410795 H 291.125"
    style="stroke-width: 2; stroke-dasharray: none"
  />
  <path
    id="path165"
    fill="#26a9e0"
    d="m 5,450 h 5 v 10 H 5 Z"
    style="stroke-width: 2; stroke-dasharray: none"
  />
  <path
    id="path167"
    fill="#00e5ff"
    d="m 5,465 h 5 v 10 H 5 Z"
    style="stroke-width: 2; stroke-dasharray: none"
  />
  <path
    id="path169"
    fill="#00e5ff"
    d="m 5,480 h 5 v 10 H 5 Z"
    style="stroke-width: 2; stroke-dasharray: none"
  />
  <path
    id="path171"
    fill="#afada0"
    d="m 5,495 h 5 v 10 H 5 Z"
    style="stroke-width: 2; stroke-dasharray: none"
  />
  <path
    id="path173"
    fill="#f0f0e0"
    d="m 5,510 h 5 v 10 H 5 Z"
    style="stroke-width: 2; stroke-dasharray: none"
  />
  <path
    id="path175"
    fill="#26a9e0"
    d="m 5,435 h 5 v 10 H 5 Z"
    style="stroke-width: 2; stroke-dasharray: none"
  />
  <path
    id="path177"
    fill="#00e5ff"
    d="m 5,420 h 5 v 10 H 5 Z"
    style="stroke-width: 2; stroke-dasharray: none"
  />
  <path
    id="path179"
    fill="#00e5ff"
    d="m 5,405 h 5 v 10 H 5 Z"
    style="stroke-width: 2; stroke-dasharray: none"
  />
  <path
    id="path181"
    fill="#afada0"
    d="m 5,390 h 5 v 10 H 5 Z"
    style="stroke-width: 2; stroke-dasharray: none"
  />
  <path
    id="path183"
    fill="#f0f0e0"
    d="m 5,375 h 5 v 10 H 5 Z"
    style="stroke-width: 2; stroke-dasharray: none"
  />
  <path
    id="path185"
    stroke="#26a9e0"
    fill="none"
    stroke-miterlimit="10"
    d="m 13.152964,564.77267 -0.09447,27.6715 m 3.918282,-19.1233 -0.07267,21.28578 m 3.903749,-14.86615 -0.05814,17.02863"
    style="stroke-width: 2; stroke-dasharray: none"
  />
  <path
    id="path968"
    stroke="#26a9e0"
    fill="none"
    stroke-miterlimit="10"
    d="m 42.96613,582 h 210 v 11.34448 h -210 z"
    style="stroke-width: 2; stroke-dasharray: none"
  />
  <path
    style="
      fill: #26a9e0;
      fill-opacity: 1;
      stroke: #26a9e0;
      stroke-width: 2;
      stroke-dasharray: none;
      stroke-opacity: 1;
      paint-order: stroke fill markers;
    "
    d="m 19.227,564.02612 h 260"
    id="path5"
  />
  <path
    style="
      fill: #26a9e0;
      fill-opacity: 1;
      stroke: #26a9e0;
      stroke-width: 2;
      stroke-dasharray: none;
      stroke-opacity: 1;
      paint-order: stroke fill markers;
    "
    d="M 14.74031,27.72374 14.227,438.20895 v 0"
    id="path6"
  />
  <path
    style="
      fill: #26a9e0;
      fill-opacity: 1;
      stroke: #26a9e0;
      stroke-width: 2;
      stroke-dasharray: none;
      stroke-opacity: 1;
      paint-order: stroke fill markers;
    "
    d="M 284.36961,27.283824 284.227,438.20895 v 0"
    id="path7"
  />
</svg>
