<div class="actor__characteristics">
  {{#each system.characteristics as |char|}}
  <div
    class="actor__characteristics-stat {{@key}}"
    data-characteristic="{{@key}}"
  >
    <span
      class="actor__characteristics-stat--name"
      data-tooltip='{{ localizeCharacteristic @key "desc" }}'
    >
      {{ localizeCharacteristic @key "short" }}
    </span>
    {{> (template "actor/icons/svg-characteristic-bg.html")}}
    <input
      class="actor__characteristics-stat--ability"
      type="text"
      name="system.characteristics.{{@key}}.value"
      value="{{char.value}}"
      data-dtype="Number"
    />
    <input
      class="actor__characteristics-stat--modifier"
      readonly
      type="number"
      value="0"
    />
    <input
      class="actor__characteristics-stat--damage"
      type="text"
      name="system.characteristics.{{@key}}.damage"
      value="{{char.damage}}"
      data-dtype="Number"
    />
  </div>
  {{/each}}
</div>
