$default-color: rgba(41, 170, 225, 1);
$battle-color: $default-color;
$light-color: rgba(0, 229, 255, 1);
$window-color: rgba(86, 148, 175, 1);
$background-transparent: rgba(0, 0, 0, 0);
$background-nearly-transparent: rgba(0, 0, 0, 0.25);
$background-semi-opaque: rgba(0, 0, 0, 0.5);
$background-nearly-opaque: rgba(0, 0, 0, 0.75);
$background-opaque: rgba(0, 0, 0, 1);
$nav-background: rgb(64 63 63 / 95%);
$dark-hover: $background-nearly-opaque;
$light-background-transparent: rgba(255, 255, 255, 0.09);
$stat-input: rgb(146 172 213);
$item-active: $background-opaque;
$header-border: rgba(34, 80, 120, 1);
$form-light: rgb(175, 173, 160, 1);
$item-border: $stat-input;
$skill-list-even: $light-background-transparent;
$sidebar-background: $form-light;
$damage-stat-color: rgba(181, 44, 44, 1);
$crit-fail: rgba(170, 2, 0, 1);
$crit-success: rgba(47, 120, 34, 1);
$dialog-color: rgba(168, 184, 208, 1);
$app-color: rgba(240, 240, 224, 1);
$item-hover: $app-color;
$select-light: $item-hover;
$damage-red: rgba(255, 0, 0, 1);
$damage-orange: rgba(255, 153, 0, 1);
$pie-color: $default-color;
$pie-background-color: $background-opaque;
