@use "./colors";

@use "./sheet/actor";
@use "./sheet/item";

.zaibatsu.sheet {
  div[contenteditable],
  input {
    background: colors.$background-nearly-transparent;
    width: 100%;
  }

  div[contenteditable] {
    padding: 10px;
  }

  label {
    display: block;
    margin-bottom: 7px;
  }
}
