@use "colors";

aside#tooltip.actor__info-concept--tooltip {
  text-align: left;
}

.zaibatsu.sheet {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;

  input {
    box-shadow: none;
    background: none;
  }

  .window-resizable-handle {
    z-index: 2;
  }

  .window-header {
    z-index: 100;
    margin-top: 8px;

    .window-title {
      margin-left: 3%;
    }

    .header-button.control.close {
      margin-right: 5%;
    }

    .header-button.control.configure-token {
      margin-right: 6%;
    }
  }

  section {
    padding: 0;
    margin: 0;
    overflow: hidden;
    box-sizing: border-box;
  }

  header {
    padding-left: 3%;
    line-height: 1ch;
    flex-basis: 3%;
    align-items: center;
    border: none;
    color: colors.$app-color;
    z-index: 99;
    background-color: colors.$background-transparent;
  }

  section,
  form {
    height: 100%;
    width: 100%;
  }

  .actor-sheet__aside-photo {
    background: colors.$default-color;
    clip-path: polygon(
      98.5% 100%,
      99.1% 8.6%,
      92.5% 1.6%,
      12.8% 2%,
      6.1% 9.7%,
      6% 100%
    );
  }

  .actor-sheet__aside-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    clip-path: polygon(
      97.5% 99%,
      98.1% 9.6%,
      91.5% 2.6%,
      13.8% 2.7%,
      7.1% 9.7%,
      7% 99%
    );
  }

  .actor-sheet__aside-info,
  .actor-sheet__aside-characteristics {
    padding-left: 30px;
    padding-right: 15px;
  }

  .actor__info--group {
    display: flex;

    span {
      display: flex;
      align-items: center;
    }
  }

  .actor__characteristics {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 50%);
    overflow: hidden;
  }

  .actor__characteristics-stat {
    position: relative;
    padding: 10px;
    text-align: center;

    input {
      position: absolute;
      width: 40px;
      margin: 0;
      padding: 0;
      border: 0;
    }

    .actor__characteristics-stat--name {
      text-transform: uppercase;
      font-size: 0.8rem;
    }

    .actor__characteristics-stat--ability {
      top: 36%;
      left: 14%;
    }

    .actor__characteristics-stat--modifier {
      top: 36%;
      right: 14%;
    }

    .actor__characteristics-stat--damage {
      bottom: 11%;
      left: 29%;
      font-size: 0.8rem;
    }
  }

  &.actor {
    .actor-sheet__aside-photo,
    .actor-sheet__aside-name,
    .actor-sheet__aside-info,
    .actor-sheet__main-navigation,
    .actor-sheet__main-body,
    .actor-sheet__aside-characteristics {
      z-index: 1;
    }

    .actor-sheet__aside-photo {
      grid-area: actor-photo;
    }

    .actor-sheet__aside-name {
      grid-area: actor-name;
    }

    .actor-sheet__aside-info {
      grid-area: actor-info;
    }

    .actor-sheet__main-navigation {
      grid-area: sheet-navigation;
    }

    .actor-sheet__main-body {
      grid-area: sheet-body;
    }

    .actor-sheet__aside-characteristics {
      grid-area: actor-characteristics;
    }

    .actor-sheet-form {
      display: grid;
      grid-template-columns: 37% 63%;
      grid-template-areas:
        "actor-photo sheet-navigation"
        "actor-photo sheet-body"
        "actor-name sheet-body"
        "actor-info sheet-body"
        "actor-characteristics sheet-body";
      justify-content: space-between;
      grid-template-rows: 5% 42% 4.5% 20.7% 24% 3.8%;
      width: 100%;
      width: -moz-available;
      width: -webkit-fill-available;
    }

    .actor-overlay {
      position: absolute;
      pointer-events: none;
      width: 37%;
      object-fit: cover;
      height: 96%;
      overflow: hidden;
      top: 4%;
      left: 0.7%;
      aspect-ratio: auto;
    }

    .actor-interface-bg {
      top: 0;
      left: 0;
      position: absolute;
      z-index: 0;
      object-fit: fill;
      width: 100%;
      overflow: hidden;
      height: 100%;
      aspect-ratio: auto;
    }

    .actor-sheet__aside-name {
      text-align: center;
      width: 80%;
      margin: auto;
      display: block;
    }

    .actor__info-concept select {
      width: 100%;
    }
  }
}
