@use "colors";
@use "base";
@use "sheet";
@use "tooltip";

@font-face {
  font-family: "SynteticAsrocuus";
  src: url("../fonts/SynteticAsrocuus.otf") format("opentype");
}

@font-face {
  font-family: "Tektur";
  src: url("../fonts/Tektur.ttf") format("truetype");
}

body,
button {
  font-family: "Tektur", monospace;
  letter-spacing: 1px;
}

body {
  font-size: 16px;
  color: colors.$default-color;
}

.window-app button {
  color: colors.$form-light;
}

#chat-controls .roll-type-select,
select {
  background: colors.$background-opaque;
}

option {
  color: colors.$default-color;
  background-color: colors.$item-active;
}

optgroup {
  color: colors.$light-color;
  background-color: colors.$nav-background;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  border: none;
  margin: 0;
}
