@use "colors";
@use "base";
@use "sheet";

@font-face {
  font-family: "SynteticAsrocuus";
  src: url("../fonts/SynteticAsrocuus.otf") format("opentype");
}

@font-face {
  font-family: "Tektur";
  src: url("../fonts/Tektur.ttf") format("truetype");
}

body,
button {
  font-family: "Tektur", monospace;
  letter-spacing: 1px;
}

body {
  font-size: 16px;
  color: colors.$default-color;
}

.window-app button {
  color: colors.$form-light;
}
