<form class="item-sheet-form" autocomplete="off">
  <div class="item-sheet__name">
    <label for="item.name">{{localize "sheet.item.name"}}</label>
    <input
      name="name"
      type="text"
      value="{{item.name}}"
      class="item-sheet__name-input"
      placeholder='{{localize "sheet.item.name"}}'
    />
  </div>

  <div class="item-sheet__price">
    <label for="system.price">{{localize "sheet.item.price"}}</label>
    <input
      name="system.price"
      type="text"
      value="{{system.price}}"
      class="item-sheet__name-input"
      placeholder='{{localize "sheet.item.price"}}'
    />
  </div>

  <img class="item-sheet__image" src="{{item.img}}" />

  <div
    contenteditable="true"
    data-edit="system.description"
    class="item-sheet__description"
  >
    {{{system.description}}}
  </div>

  <!-- prettier-ignore -->
  {{#if isWeapon }} {{> (template "item/sheet.weapon.html") }} {{/if}}
</form>
